/* CHAT.HTML PAGE PROPERTIES START FROM HERE ONWARDS */

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 710px;
    font-family: avenir;
    display: flex;
    /*background: linear-gradient(to right, #f7ff00, #db36a4);*/
}

h3 {
    font-weight: normal;
    margin-top: 4%;
    padding: 3% 0;
    font-size: 1.5em;
}

#current-user {
    width: 80%;
    border: 1px solid slateblue;
    padding: 3% 0;
    text-align: center;
    margin: 5% auto;
    text-transform: capitalize;
    color: white;
    background: slateblue;
    letter-spacing: 1px;
    font-size: 1em;
}

#current-room {
    width: 80%;
    border: 1px solid slateblue;
    padding: 3% 0;
    text-align: center;
    margin: 5% auto;
    text-transform: capitalize;
    color: white;
    background: slateblue;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 1em;
}


/*#####################################################*/

#users-list-div {
    flex: 0.3;
    color: white;
    text-align: center;
    background: linear-gradient(#283655, #4d648d);
    /*background: #eb8a3e;*/
}

#users-list-div h3 {}

#users-list {
    list-style: none;
    padding-left: 0;
}

ul li {
    width: 60%;
    border: 2px solid white;
    padding: 2% 0;
    text-align: center;
    margin: 5% auto;
    text-transform: capitalize;
    color: white;
    background: #fff;
    letter-spacing: 1px;
    background: none;
}


/*#####################################################*/

#middle-div {
    flex: 1;
    display: flex;
    flex-flow: column;
    /*background: #d0e1f9;*/
}

#messages-view-panel {
    flex: 1;
    overflow-y: scroll;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

#messages-view-panel div {
    margin: 0 1% 0 3%;
    display: flex;
    font-size: 1em;
}

.name {
    flex: 0.15;
    font-weight: bold;
    text-transform: capitalize;
    padding: 1% 0;
    text-align: center;
}

.text {
    flex: 1;
    background: white;
    padding: 1% 0;
    font-size: 0.9em;
    background: #f4ebdb;
    /*background: #b9c4c9;*/
}

.time {
    flex: 0.15;
    margin-left: 1%;
    font-size: 0.9em;
    padding: 1% 0;
}

#typing-panel {
    flex: 0.08;
    display: flex;
    border-top: 2px solid #1e1f26;
}

textarea {
    flex: 1;
    font-size: 1em;
    border: none;
}

textarea:focus {
    outline: none;
    background: beige;
}

button {
    flex: 0.3;
    font-size: 1em;
    background: #1e1f26;
    color: white;
    border: 1px solid #1e1f26;
    font-size: 1.2em;
    letter-spacing: 1px;
    cursor: pointer;
}

button:focus {
    outline: none;
}


/*#####################################################*/

#rooms-list-div {
    flex: 0.3;
    color: white;
    text-align: center;
    background: linear-gradient(#283655, #4d648d);
    /*background: #d24136;*/
}

#rooms-list {
    padding-left: 0;
    list-style: none;
}

ol li {
    width: 60%;
    border: 2px solid white;
    padding: 2% 0;
    text-align: center;
    margin: 5% auto;
    text-transform: capitalize;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 1em;
}

#rooms-list li:hover {
    background: darkslateblue;
    color: white;
    border: 1px solid darkslateblue;
}
